body{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(asset/bg2.jpg);
    background-size: cover;
    
    
}
.navbar{
 
    background:transparent;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#img
{
    height: 5vh;
    margin-left: auto;
}
.phone, .email
{
    margin-right: 10px;
}
.phone
{
    color: #03a9f4;
}
.email
{
    color: #e93e91;
}

.nav-link
{
    color: #fff;
}
.nav-link:hover
{
    color: rgba(216, 216, 216) !important;
}
#log
{
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.2rem 1rem !important;
    line-height: 30px;
    margin-left: 10px;

}
#log:hover
{
    background-color: #B11336;
    border: 2px solid #B11336;
}
#sign
{
    border: 2px solid #B11336;
    background-color: #B11336;
    border-radius: 20px;
    margin-left: 10px;
    padding: 0.2rem 1rem !important;
    line-height: 30px;
}
#sign:hover
{
    background-color: #fff;
    border: 2px solid #fff;
    color: #B11336 !important;
}
#form{
    background-color: rgba(0, 0, 0, 0.801);
    height:520px;
    width:700px;
    margin:auto;
    margin-left: auto;
    padding:20px;
    padding-bottom: 20px;
    opacity: 0.7;
    border-radius: 20px;
}
.modal-header
{
    background-color: rgba(143, 40, 40, 0.473);
}
.modal-body
{
    background-color: rgba(143, 40, 40, 0.473);
}
.lg
{
    background-image: url(asset/login.jpg) !important;
}

.myMainDiv
{
    background-color: #000000bb;
    border-radius: 15px;
    color: #fff;
    padding: 20px;
    margin-top: 130px;
    margin-left: 30px;
}
img{
    height: 25vh;
    width: auto;
    margin-left: 34%;
}
.active
{
    color: #B11336;
}

#footer
{
    text-decoration: none;
}

#footer:hover
{
    color: #B11336 !important;
}
.Copyright
{
    background-color: #02010186 !important;
    color: #B11336;
}